<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xforceplus.hades.dao.TestSuiteScriptDetailMapper">
  <resultMap id="BaseResultMap" type="com.xforceplus.hades.interfaceMgmt.domain.TestSuiteScriptDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="script_id" jdbcType="INTEGER" property="scriptId" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="executor" jdbcType="VARCHAR" property="executor" />
  </resultMap>
  <sql id="Base_Column_List">
    id, script_id, result, batch_no, create_time, executor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_suite_script_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_suite_script_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xforceplus.hades.interfaceMgmt.domain.TestSuiteScriptDetail">
    insert into test_suite_script_detail (id, script_id, result, 
      batch_no, create_time, executor
      )
    values (#{id,jdbcType=INTEGER}, #{scriptId,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR}, 
      #{batchNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{executor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xforceplus.hades.interfaceMgmt.domain.TestSuiteScriptDetail">
    insert into test_suite_script_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scriptId != null">
        script_id,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="executor != null">
        executor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scriptId != null">
        #{scriptId,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xforceplus.hades.interfaceMgmt.domain.TestSuiteScriptDetail">
    update test_suite_script_detail
    <set>
      <if test="scriptId != null">
        script_id = #{scriptId,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null">
        executor = #{executor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xforceplus.hades.interfaceMgmt.domain.TestSuiteScriptDetail">
    update test_suite_script_detail
    set script_id = #{scriptId,jdbcType=INTEGER},
      result = #{result,jdbcType=VARCHAR},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      executor = #{executor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>